
{% extends 'extend/base.html' %}
{% load static %}
{% block content %}

<div>

    <section id="home">
        <div class="langing-page-con">
            <!-- for menu -->
            {% include 'extend/authmenu.html' %}

            <div class="home-intro-auth">
                <div class="home-intro-box-auth">
                    <h1>Thebotbrokers</h1>
                    <div>
                        <p>
                            Thebotbrokers is a modern financial platform that helps individuals grow 
                            their money, manage digital transactions, and invest securely from anywhere in the world.
                        </p>
                    </div>
                </div>
                <div class="home-intro-box-auth">
                    <div class="home-intro-icon">
                        <h3>Fill in the log in form</h3>
                    </div>
                    <div class="form-box">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="info-m">
                            <h5>Info</h5>
                            <p>
                                {{ message }}
                            </p>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                                <div class="form-text">
                                    <p>Username</p>
                                </div>
                                <div class="form-div">
                                    <input type="text" placeholder="Enter Your Username" name="username">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div>
                                <div class="form-text">
                                    <p>Password</p>
                                </div>
                                <div class="form-div">
                                    <input type="password" placeholder="Enter Your Password" name="password" class="pass">
                                    <i class="fa fa-eye toggle"></i>
                                </div>
                            </div>
                            <div>
                                <button>log in</button>
                            </div>
                            <div class="form-ex">
                                <p class="warn-p">Forgotten Password <a href="">Rest Password</a></p>
                                <p class="ligh-p">Create a new accout <a href="{% url 'signup' %}">Here</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="home-get-started-title">
            <h3>Get Started Today</h3>
        </div>
        <div class="home-get-started-box">
            <div class="home-get-started-text">
                <p>
                    We prond secure to divencing and accourity and bia merts.
                </p>
            </div>
            <div style="margin-top: 20px; margin-bottom: 20px;">
                <!-- <a href="samples.html" class="achor-active"> View Samples</a> -->
                <a href="login.html" class="achor-light"> Get Started</a>
            </div>
        </div>
        <div class="home-end">
            <div class="home-end-box">
                <p>
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script> 
                    Thebotbrokers. All rights reserved
                </p>
            </div>
            <div class="home-end-box">
                <p>
                    support@thebotbrokers.com | +1 000 039 3453
                </p>
            </div>
        </div>
    </section>

</div>

{% endblock %}
