
{% extends 'extend/base2.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div>
    
    <section>
        <div class="menu-top">
            <div class="menu-name">
                <h3>
                    welcome {{ request.user }}
                    <small style="font-size: 10px;">
                        {% if request.user.is_superuser %}
                        <i style="color: green;">admin</i>
                        {% else %}
                        {% if profile.block == False %}
                        <i style="color: green;">active</i>
                        {% else %}
                        <i style="color: rgb(255, 85, 0);">block</i>
                        {% endif %}
                        {% if profile.kyc == True %}
                        <i class="fa fa-check-circle" style="color: green;"></i>
                        {% endif %}
                        {% endif %}
                    </small>
                </h3>
            </div>
        </div>
    </section>

    <section>
        <div class="body-box">
            <div class="body-box-con">
                <div style="display: flex; align-items: center;justify-content: space-between;">
                    <div>
                        <a href="{% url 'adminPage' %}" style="color: white;margin-right: 10px;">
                        <a href="{% url 'adminPage' %}" style="color: white;margin-right: 10px;">
                            <i class="fa fa-arrow-left" style="text-transform: capitalize;font-weight: bold;"> dashboard</i>
                        </a>
                    </div>
                    <div>
                        <h4>investment</h4>
                    </div>
                </div>
                <div class="balance">
                    <div class="home-intro-auth">
                        <div class="home-intro-box-auth">
                            <div class="form-box">
                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div>
                                        <div class="form-text">
                                            <p>Address</p>
                                        </div>
                                        <div class="form-div">
                                            <input type="text" placeholder="Address" name="address" required>
                                            <i class="fa fa-arrow-left"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-text">
                                            <p>Address Name</p>
                                        </div>
                                        <div class="form-div">
                                            <input type="name" placeholder="Address Name" name="address_name" required>
                                            <i class="fa fa-arrow-left"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-text">
                                            <p>Receiver Name</p>
                                        </div>
                                        <div class="form-div">
                                            <input type="text" placeholder="Receiver Name" name="receiver_name" required>
                                            <i class="fa fa-arrow-left"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <button>add account</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="balance">
                    <div class="balane-card">
                        {% if account %}
                        {% for account in account %}
                        <div class="infos">
                            <h3>{{ account.receiver_name }}</h3>
                            <p>
                                {{ account.address_name }}
                            </p>
                            <p>
                                {{ account.address }}
                            </p>
                            <div style="margin-top: 10px;">
                                <a href="{% url 'deleteAccount' account.id %}" class="achor-red">
                                    delete
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="info">
                            <h3>Information</h3>
                            <p>Dear {{ request.user.first_name }} {{ request.user.last_name }}</p>
                            <p>you do not have any account now, add some</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
