
{% extends 'extend/base2.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div>
    
    <section>
        <div class="menu-top">
            <div class="menu-name">
                <h3>
                    welcome {{ profile.user.username }}
                    <small style="font-size: 10px;">
                        {% if profile.block == False %}
                        <i style="color: green;">active</i>
                        {% else %}
                        <i style="color: rgb(255, 85, 0);">block</i>
                        {% endif %}
                        {% if profile.kyc == True %}
                        <i class="fa fa-check-circle" style="color: green;"></i>
                        {% endif %}
                    </small>
                </h3>
            </div>
        </div>
    </section>

    <section>
        <div class="body-box">
            <div class="body-box-con">
                <div style="display: flex; align-items: center;justify-content: space-between;">
                    <div>
                        <a href="{% url 'dashboard' %}" style="color: white;margin-right: 10px;">
                            <i class="fa fa-arrow-left" style="text-transform: capitalize;font-weight: bold;"> dashboard</i>
                        </a>
                    </div>
                    <div>
                        <h4>settings</h4>
                    </div>
                </div>
                <div class="balance">
                    <div class="balane-card">
                        <div class="info">
                            <h3>Information</h3>
                            <p>Dear {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                            <p>This page is under mentanance</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}